### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file_to_load = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [6]:
total_df = pd.DataFrame([{"Total Players":len(purchase_data['SN'].unique())}])
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
uniqueItems = len(purchase_data["Item Name"].unique())
avgPrice = purchase_data["Price"].mean()
num_purchase = len(purchase_data)
sum_price = purchase_data["Price"].sum()

analysis_df = pd.DataFrame([{"Number of Unique Items": uniqueItems,
                             "Average Price": '${:0,.2f}'.format(avgPrice),
                             "Number of Purchases": num_purchase,
                             "Total Revenue": '${:0,.2f}'.format(sum_price)
    
}])
analysis_df = analysis_df[["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]]
analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [129]:
deduped_df = purchase_data.drop_duplicates(subset=["SN","Gender"],inplace=False)
demo_df = pd.DataFrame(deduped_df["Gender"].value_counts())
percents = demo_df['Gender']/total_df["Total Players"][0]
demo_df['Percentage of Players'] = percents
demo_df = demo_df.style.format({'Percentage of Players':"{:.2%}"})
demo_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
gender_group = purchase_data.groupby(["Gender"])
purchase_count = gender_group["Purchase ID"].count()
avg_price = gender_group["Price"].mean()
total_value = gender_group["Price"].sum()
gender_person_group = purchase_data.groupby(["Gender","SN"])
avg_per_person = gender_person_group["Price"].sum().reset_index().groupby(["Gender"]).mean()


gender_analysis_df = pd.DataFrame({"Purchase Count" : purchase_count,
                                   "Average Purchase Price" : avg_price,
                                   "Total Purchase Value" : total_value,
                                   "Avg Total Purchase per Person" : avg_per_person["Price"]
                                  })
         

gender_analysis_df = gender_analysis_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg Total Purchase per Person":"${:.2f}"})    


gender_analysis_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [115]:
ages_demo_df = pd.DataFrame(deduped_df.loc[:,'Age'],columns=['Age'])

ages_demo_df["Age_bins"] = pd.cut(x=ages_demo_df['Age'], bins=[0,9,14,19,24,29,34,39,100], labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39', '40+'])
total_count = ages_demo_df['Age_bins'].value_counts()
count_df = pd.DataFrame(total_count )
count_df = count_df.rename(columns={'Age_bins' : 'Total Count'})
count_df.sort_index(inplace=True)
count_df["Percentage of Players"] = count_df["Total Count"] / int(count_df.sum())
count_df = count_df.style.format({'Percentage of Players':"{:.2%}"})
count_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [149]:
age_df = purchase_data
age_df.loc[:,"Age Ranges"] = pd.cut(x=age_df.loc[:,'Age'], bins=[0,9,14,19,24,29,34,39,100], labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39', '40+'])
age_group = age_df.groupby("Age Ranges")
count = age_group["Age"].count()

avg_price = age_group["Price"].mean()

total = age_group["Price"].sum()


age_person_group = age_df.groupby(["Age Ranges","SN"])
avg_per_age = age_person_group["Price"].sum().reset_index().groupby(["Age Ranges"]).mean()


age_analysis_df = pd.DataFrame({"Purchase Count" : count,
                                   "Average Purchase Price" : avg_price,
                                   "Total Purchase Value" : total,
                                   "Avg Total Purchase per Person" : avg_per_age["Price"]
                                  })
         

age_analysis_df = age_analysis_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg Total Purchase per Person":"${:.2f}"})    
age_analysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80